In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import random

In [2]:
# df=pd.read_csv("transactions2018.csv")
# df.head()
xlsx = pd.ExcelFile('transactions18withreceiver.xlsx')
df = pd.read_excel(xlsx)
df.head()

,index,Account_No,DATE,TRANSACTION_DETAILS,WITHDRAWAL_AMT,DEPOSIT_AMT,BALANCE_AMT,year,month,day,type,AMOUNT,receiver_Account
0,0,409000611074',2018-01-01,INDO GIBL Indiaforensic STL31121,14000.0,0.0,697823.0,2018,1,1,PAYEMENT,14000.0,M1979787155
1,1,409000611074',2018-01-01,INDO GIBL Indiaforensic STL30121,54250.0,0.0,643573.0,2018,1,1,DEBIT,54250.0,M2044282225
2,2,409000611074',2018-01-02,INDO GIBL Indiaforensic STL01011,147500.0,0.0,496073.0,2018,1,2,PAYEMENT,147500.0,C553264065
3,3,409000611074',2018-01-03,FDRL/INTERNAL FUND TRANSFE,0.0,500000.0,996073.0,2018,1,3,TRANSFER,500000.0,C38997010
4,4,409000611074',2018-01-03,INDO GIBL Indiaforensic STL02011,323500.0,0.0,672573.0,2018,1,3,PAYEMENT,323500.0,M1230701703

In [178]:
df.type.unique()

array(['PAYEMENT', 'DEBIT', 'TRANSFER', 'CHECK_CASHING', 'CASH_OUT',
       'CASH_IN', 'CHECK_WITHDRAWAL'], dtype=object)

In [3]:
df["agency"]=""

In [4]:
# df.isna().sum()

In [5]:
cash_out=df[df["type"]=="CASH_OUT"]

In [6]:
cash_out.head()

,index,Account_No,DATE,TRANSACTION_DETAILS,WITHDRAWAL_AMT,DEPOSIT_AMT,BALANCE_AMT,year,month,day,type,AMOUNT,receiver_Account,agency
8,8,409000611074',2018-01-05,INDO GIBL Indiaforensic STL04011,222800.0,0.0,1269473.0,2018,1,5,CASH_OUT,222800.0,M1176932104,
9,9,409000611074',2018-01-06,INDO GIBL Indiaforensic STL05011,145450.0,0.0,1124023.0,2018,1,6,CASH_OUT,145450.0,C195600860,
11,11,409000611074',2018-01-09,INDO GIBL Indiaforensic STL07011,205075.0,0.0,736948.0,2018,1,9,CASH_OUT,205075.0,M2096539129,
15,15,409000611074',2018-01-11,INDO GIBL Indiaforensic STL10011,256600.0,0.0,314596.0,2018,1,11,CASH_OUT,256600.0,C476402209,
22,22,409000611074',2018-01-15,INDO GIBL Indiaforensic STL13011,112900.0,0.0,1848496.0,2018,1,15,CASH_OUT,112900.0,C515132998,

In [7]:
clients=list(df["Account_No"].unique())

In [8]:
agadir=["Agadir Administrations",
"Agadir Bouargane",
"Agadir El Houda",
"Agadir El Menzeh",
"Agadir Hay Dakhla",
"Agadir Hay Dakhla Extension",
"Agadir Sonaba"]

casa=[
   " Casa 10 Mars",
"Casa 11 Janvier",
"Casa 6 Novembre",
"Casa Abdelmoumen",
"Casa Abdelmoumen Expansion",
"Casa Abdeslam Khattabi",
"Casa Abou Houraira",
"Casa Ain Chock",
"Casa Ain Sebaa",
"Casa Ain Sebaa Al Hadika",
"Casa Ain Sebaa Al Hamd",
"Casa Akid El Allam" ]

berkane=[
    "Berkane Mohamed V",
"Berkane Ouartass",
"Berkane Route Saidia",
"Berkane Sidi Slimane"]


Mohammedia=["Mohammedia"
"Mohammedia Al Falah",
"Mohammedia Anfa",
"Mohammedia Avenue Des Far",
"Mohammedia Derb Marrakech",
"Mohammedia El Alia",
"Mohammedia El Oufa",
"Mohammedia Hay Al Houria",
"Mohammedia Marjane",
"Mohammedia Moukaouama",
"Mohammedia Moukawama Expansion"
]
villes=[Mohammedia,berkane,casa,agadir]

In [9]:
for acc in clients:   
    ville=random.choice(villes)
    # random_num = [random.choice(agadir) for i in range(0,4)] 
    cond= cash_out["Account_No"]==acc
    lenth=len(cash_out[cond])
    # cash_out["agency"]=cash_out["agency"].mask(cond,random.choice(agadir))
    # cash_out[cond]["agency"] = [random.choice(agadir) for i in range(0,lenth)] 
    a = [random.choice(ville) for i in range(0,lenth)] 
    cash_out.loc[cond, 'agency'] = a

C:\Users\E330\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
#dataset of cashouts of all clients during the whole year
cash_out

,index,Account_No,DATE,TRANSACTION_DETAILS,WITHDRAWAL_AMT,DEPOSIT_AMT,BALANCE_AMT,year,month,day,type,AMOUNT,receiver_Account,agency
8,8,409000611074',2018-01-05,INDO GIBL Indiaforensic STL04011,222800.0,0.0,1269473.0,2018,1,5,CASH_OUT,222800.0,M1176932104,Berkane Mohamed V
9,9,409000611074',2018-01-06,INDO GIBL Indiaforensic STL05011,145450.0,0.0,1124023.0,2018,1,6,CASH_OUT,145450.0,C195600860,Berkane Mohamed V
11,11,409000611074',2018-01-09,INDO GIBL Indiaforensic STL07011,205075.0,0.0,736948.0,2018,1,9,CASH_OUT,205075.0,M2096539129,Berkane Mohamed V
15,15,409000611074',2018-01-11,INDO GIBL Indiaforensic STL10011,256600.0,0.0,314596.0,2018,1,11,CASH_OUT,256600.0,C476402209,Berkane Sidi Slimane
22,22,409000611074',2018-01-15,INDO GIBL Indiaforensic STL13011,112900.0,0.0,1848496.0,2018,1,15,CASH_OUT,112900.0,C515132998,Berkane Route Saidia
23,23,409000611074',2018-01-15,INDO GIBL Indiaforensic STL12011,392251.0,0.0,1456245.0,2018,1,15,CASH_OUT,392251.0,M1404932042,Berkane Sidi Slimane
33,33,409000611074',2018-01-24,INDO GIBL Indiaforensic STL23011,224800.0,0.0,256645.0,2018,1,24,CASH_OUT,224800.0,M1971783162,Berkane Sidi Slimane
53,53,409000611074',2018-02-07,INDO GIBL Indiaforensic STL06021,239400.0,0.0,1057945.0,2018,2,7,CASH_OUT,239400.0,M1792384402,Berkane Route Saidia
65,65,409000611074',2018-02-17,INDO GIBL Indiaforensic STL12021,594328.0,0.0,1206119.0,2018,2,17,CASH_OUT,594328.0,M516875052,Berkane Route Saidia
68,68,409000611074',2018-02-21,INDO GIBL Indiaforensic STL16021,710800.0,0.0,608219.0,2018,2,21,CASH_OUT,710800.0,C1330106945,Berkane Ouartass
79,79,409000611074',2018-02-26,INDO GIBL Indiaforensic STL23021,277753.0,0.0,669566.0,2018,2,26,CASH_OUT,277753.0,C1761291320,Berkane Ouartass
80,80,409000611074',2018-02-26,INDO GIBL Indiaforensic STL24021,70300.0,0.0,599266.0,2018,2,26,CASH_OUT,70300.0,C783286238,Berkane Mohamed V
81,81,409000611074',2018-02-26,INDO GIBL Indiaforensic STL25021,62400.0,0.0,536866.0,2018,2,26,CASH_OUT,62400.0,C1749186397,Berkane Route Saidia
88,88,409000611074',2018-03-05,INDO GIBL Indiaforensic STL03031,155500.0,0.0,2095616.0,2018,3,5,CASH_OUT,155500.0,C1590550415,Berkane Sidi Slimane
89,89,409000611074',2018-03-07,INDO GIBL Indiaforensic STL28021,244350.0,0.0,1851266.0,2018,3,7,CASH_OUT,244350.0,C1590550415,Berkane Mohamed V
90,90,409000611074',2018-03-07,INDO GIBL Indiaforensic STL01031,202799.0,0.0,1648467.0,2018,3,7,CASH_OUT,202799.0,C392292416,Berkane Ouartass
91,91,409000611074',2018-03-07,INDO GIBL Indiaforensic STL03031,155500.0,0.0,1492967.0,2018,3,7,CASH_OUT,155500.0,C1359044626,Berkane Route Saidia
94,94,409000611074',2018-03-08,INDO GIBL Indiaforensic STL07031,371900.0,0.0,617617.0,2018,3,8,CASH_OUT,371900.0,C1590550415,Berkane Mohamed V
99,99,409000611074',2018-03-12,INDO GIBL Indiaforensic STL1003,85800.0,0.0,795037.0,2018,3,12,CASH_OUT,85800.0,M494077446,Berkane Ouartass
103,103,409000611074',2018-03-13,INDO GIBL Indiaforensic STL12031,577493.0,0.0,1172544.0,2018,3,13,CASH_OUT,577493.0,M1521238608,Berkane Mohamed V
118,118,409000611074',2018-03-20,INDO GIBL Indiaforensic STL01031,200799.0,0.0,1360234.0,2018,3,20,CASH_OUT,200799.0,C575335780,Berkane Sidi Slimane
125,125,409000611074',2018-03-26,INDO GIBL Indiaforensic STL23031,218975.0,0.0,1613434.0,2018,3,26,CASH_OUT,218975.0,M1422273905,Berkane Mohamed V
127,127,409000611074',2018-03-26,INDO GIBL Indiaforensic STL25031,12000.0,0.0,1556634.0,2018,3,26,CASH_OUT,12000.0,M756936249,Berkane Ouartass
128,128,409000611074',2018-03-27,INDO GIBL Indiaforensic STL26031,259150.0,0.0,1297484.0,2018,3,27,CASH_OUT,259150.0,M264394929,Berkane Sidi Slimane
129,129,409000611074',2018-03-28,INDO GIBL Indiaforensic STL27031,139650.0,0.0,1157834.0,2018,3,28,CASH_OUT,139650.0,M769132147,Berkane Sidi Slimane
136,136,409000611074',2018-04-06,INDO GIBL Indiaforensic STL31031,150950.0,0.0,2174859.0,2018,4,6,CASH_OUT,150950.0,M1889757798,Berkane Mohamed V
143,143,409000611074',2018-04-09,INDO GIBL Indiaforensic STL07041,48800.0,0.0,1039109.0,2018,4,9,CASH_OUT,48800.0,M790094605,Berkane Mohamed V
147,147,409000611074',2018-04-11,INDO GIBL Indiaforensic STL10041,162600.0,0.0,1570559.0,2018,4,11,CASH_OUT,162600.0,C1509514333,Berkane Route Saidia
153,153,409000611074',2018-04-16,INDO GIBL Indiaforensic STL13041,347950.0,0.0,1719009.0,2018,4,16,CASH_OUT,347950.0,C1297685781,Berkane Mohamed V
155,155,409000611074',2018-04-16,INDO GIBL Indiaforensic STL15041,48000.0,0.0,1594109.0,2018,4,16,CASH_OUT,48000.0,C1509514333,Berkane Ouartass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35578,35578,A,2018-08-09,Indfor INCOME INDO REMI08081,3000.0,0.0,-2800.0,2018,8,9,CASH_OUT,3000.0,M1613727001,Agadir Sonaba
35579,35579,A,2018-08-16,Indfor INCOME INDO REMI14081,3600.0,0.0,-6400.0,2018,8,16,CASH_OUT,3600.0,C1662761228,Agadir Bouargane
35582,35582,A,2018-08-29,INDO GIBL Indiaforensic STL28081,6000.0,0.0,8600.0,2018,8,29,CASH_OUT,6000.0,C1662761228,Agadir Administrations
35583,35583,A,2018-09-01,Indfor INCOME INDO REMI31081,3000.0,0.0,5600.0,2018,9,1,CASH_OUT,3000.0,M2049265342,Agadir El Menzeh
35585,35585,A,2018-09-01,FDRL/INTERNAL FUND TRANSFE,4000.0,0.0,-400.0,2018,9,1,CASH_OUT,4000.0,C2102040020,Agadir El Houda
35591,35591,A,2018-10-01,FDRL/INTERNAL FUND TRANSFE,2000.0,0.0,-3440.0,2018,10,1,CASH_OUT,2000.0,M2049265342,Agadir Sonaba
35599,35599,A,2018-10-24,Indfor INCOME INDO REMI23101,500.0,0.0,-8760.0,2018,10,24,CASH_OUT,500.0,C312537393,Agadir El Menzeh
35603,35603,A,2018-11-02,Indfor INCOME INDO REMI01111,1800.0,0.0,-560.0,2018,11,2,CASH_OUT,1800.0,C2102040020,Agadir Administrations
35605,35605,A,2018-11-12,Indfor INCOME INDO REMI09111,2040.0,0.0,-4600.0,2018,11,12,CASH_OUT,2040.0,M1691158743,Agadir Bouargane
35607,35607,A,2018-11-20,FDRL/INTERNAL FUND TRANSFE,500.0,0.0,-5800.0,2018,11,20,CASH_OUT,500.0,C439225767,Agadir El Houda
35611,35611,A,2018-12-01,INDO GIBL Indiaforensic STL30111,4000.0,0.0,2040.0,2018,12,1,CASH_OUT,4000.0,M1823241293,Agadir Hay Dakhla Extension
35614,35614,A,2018-12-14,FDRL/INTERNAL FUND TRANSFE,1300.0,0.0,-3700.0,2018,12,14,CASH_OUT,1300.0,M1691158743,Agadir Hay Dakhla Extension
35616,35616,A,2018-12-27,Indfor INCOME INDO REMI26121,1320.0,0.0,-8020.0,2018,12,27,CASH_OUT,1320.0,C439225767,Agadir Hay Dakhla Extension
35632,35632,B,2018-02-14,INDO GIBL Indiaforensic STL09021,5000.0,0.0,49000.0,2018,2,14,CASH_OUT,5000.0,C865922491,Berkane Ouartass
35633,35633,B,2018-02-20,INDO GIBL Indiaforensic STL21021,2000.0,0.0,47000.0,2018,2,20,CASH_OUT,2000.0,C1973934667,Berkane Route Saidia
35637,35637,B,2018-03-05,INDO GIBL Indiaforensic STL03031,30000.0,0.0,61000.0,2018,3,5,CASH_OUT,30000.0,C892981061,Berkane Mohamed V
35650,35650,B,2018-05-01,FDRL/INTERNAL FUND TRANSFE,6000.0,0.0,101200.0,2018,5,1,CASH_OUT,6000.0,C688425953,Berkane Route Saidia
35656,35656,B,2018-05-18,INDO GIBL Indiaforensic STL17051,1500.0,0.0,43700.0,2018,5,18,CASH_OUT,1500.0,C1034584766,Berkane Route Saidia
35664,35664,B,2018-06-15,INDO GIBL Indiaforensic STL14061,7000.0,0.0,22700.0,2018,6,15,CASH_OUT,7000.0,C1973934667,Berkane Ouartass
35666,35666,B,2018-06-28,FDRL/INTERNAL FUND TRANSFE,5000.0,0.0,17000.0,2018,6,28,CASH_OUT,5000.0,C83827469,Berkane Ouartass
35668,35668,B,2018-07-01,FDRL/INTERNAL FUND TRANSFE,6000.0,0.0,71000.0,2018,7,1,CASH_OUT,6000.0,C688425953,Berkane Route Saidia
35670,35670,B,2018-07-07,INDO GIBL Indiaforensic STL30061,33000.0,0.0,28000.0,2018,7,7,CASH_OUT,33000.0,C892981061,Berkane Route Saidia
35679,35679,B,2018-08-01,Indfor INCOME INDO REMI31071,10000.0,0.0,41000.0,2018,8,1,CASH_OUT,10000.0,C146305349,Berkane Ouartass
35682,35682,B,2018-08-11,Indfor INCOME INDO REMI08081,5000.0,0.0,-24000.0,2018,8,11,CASH_OUT,5000.0,C1421211318,Berkane Route Saidia
35687,35687,B,2018-09-01,Indfor INCOME INDO REMI31081,10000.0,0.0,33000.0,2018,9,1,CASH_OUT,10000.0,C146305349,Berkane Mohamed V
35700,35700,B,2018-10-15,FDRL/INTERNAL FUND TRANSFE,7000.0,0.0,-22000.0,2018,10,15,CASH_OUT,7000.0,C1973934667,Berkane Sidi Slimane
35703,35703,B,2018-11-01,INDO GIBL Indiaforensic STL31101,10000.0,0.0,22000.0,2018,11,1,CASH_OUT,10000.0,C146305349,Berkane Route Saidia
35704,35704,B,2018-11-02,Indfor INCOME INDO REMI01111,3000.0,0.0,19000.0,2018,11,2,CASH_OUT,3000.0,C892981061,Berkane Route Saidia
35710,35710,B,2018-12-01,Indfor INCOME INDO REMI30111,10000.0,0.0,27000.0,2018,12,1,CASH_OUT,10000.0,C146305349,Berkane Mohamed V
35715,35715,B,2018-12-16,FDRL/INTERNAL FUND TRANSFE,5000.0,0.0,-23000.0,2018,12,16,CASH_OUT,5000.0,C1034584766,Berkane Route Saidia

In [11]:
# # random_num = [random.choice(agadir) for i in range(0,4)] 
# cond= cash_out["Account_No"]=="A"
# lenth=len(cash_out[cond])
# # cash_out["agency"]=cash_out["agency"].mask(cond,random.choice(agadir))
# # cash_out[cond]["agency"] = [random.choice(agadir) for i in range(0,lenth)] 
# a = [random.choice(agadir) for i in range(0,lenth)] 
# cash_out.loc[cond, 'agency'] = a

In [48]:
# # random_num = [random.choice(agadir) for i in range(0,4)] 
# cond= cash_out["Account_No"]==clients[0]
# lenth=len(cash_out[cond])
# # cash_out["agency"]=cash_out["agency"].mask(cond,random.choice(agadir))
# # cash_out[cond]["agency"] = [random.choice(agadir) for i in range(0,lenth)] 
# a = [random.choice(casa) for i in range(0,lenth)] 
# cash_out.loc[cond, 'agency'] = a

In [164]:
# len(clients)
#data of AGGREGATIONS of cash_ounts + dbscan_clusters
data=pd.read_csv("clusters_cash_out.csv")
# data.head()
data['mean']=data['mean'].round(decimals=1)
data['max']=data['max'].round(decimals=1)
data['min']=data['min'].round(decimals=1)
data['median']=data['median'].round(decimals=1)

In [165]:
data

,Account_No,mean,max,min,median,dbscan_cluster
0,1196428',1896721.8,15000000.0,29.5,38487.0,-1
1,1196711',14346890.6,50937571.0,136712.4,3156639.5,-1
2,409000362497',2139103.5,17434967.0,44.0,50503.0,-1
3,409000438611',3212387.2,10000000.0,969.1,3000000.0,-1
4,409000438620',5891085.7,42797380.0,17.7,5000.0,-1
5,409000493201',121227.6,171840.3,91827.3,100015.4,-1
6,409000493210',15000000.0,15000000.0,15000000.0,15000000.0,-1
7,409000611074',325830.2,710800.0,62400.0,258576.5,-1
8,A,2000.0,2000.0,2000.0,2000.0,0
9,B,3500.0,5000.0,2000.0,3500.0,0

In [13]:
profiles=list(data["dbscan_cluster"].unique())
profiles

[-1, 0]

In [116]:
#prepare the dataset of cashout transactions of accounts belonging to one cluster
def data_by_cluster(data,cash_out,cluster):
    #account numbers of clients of same cluster
    cluster_clients=data[data["dbscan_cluster"]==cluster]["Account_No"].unique()
    #Transactions of clients belonging to a profile
    cluster_transactions=cash_out[cash_out["Account_No"].isin(cluster_clients)]

    #take the transactions of the same month where the profiling is done
    cluster_transactions=cluster_transactions[cluster_transactions["month"]==2]
    return cluster_transactions

In [118]:
# cluster_transactions[cluster_transactions["Account_No"]=="1196428'"]["agency"].value_counts()
cluster_transactions=data_by_cluster(data,cash_out,profiles[1])
cluster_transactions

,index,Account_No,DATE,TRANSACTION_DETAILS,WITHDRAWAL_AMT,DEPOSIT_AMT,BALANCE_AMT,year,month,day,type,AMOUNT,receiver_Account,agency
35525,35525,A,2018-02-01,INDO GIBL Indiaforensic STL31011,2000.0,0.0,17000.0,2018,2,1,CASH_OUT,2000.0,M2049265342,Agadir Hay Dakhla Extension
35632,35632,B,2018-02-14,INDO GIBL Indiaforensic STL09021,5000.0,0.0,49000.0,2018,2,14,CASH_OUT,5000.0,C865922491,Berkane Ouartass
35633,35633,B,2018-02-20,INDO GIBL Indiaforensic STL21021,2000.0,0.0,47000.0,2018,2,20,CASH_OUT,2000.0,C1973934667,Berkane Route Saidia

In [173]:
#Compute frequency of every agency and amount taken from them per client for the json tree
def data_tree(cluster_transactions):
    stats_withd = cluster_transactions.groupby(['Account_No','agency'])['WITHDRAWAL_AMT'].agg(['sum'])
    stats_withd.columns = [ 'withd_by_agency']
    freq_agency = cluster_transactions.groupby(['Account_No','agency'])['agency'].agg(['count'])
    freq_agency.columns = [ 'freq_by_agency']
    freq_agency['withd_by_agency']=stats_withd['withd_by_agency']
    freq_agency['withd_by_agency']=freq_agency['withd_by_agency'].round(decimals=1)

    # move out account_no and agency from indexes
    freq_agency.reset_index(inplace=True, drop=False)
    freq_agency.reset_index(inplace=True, drop=False)
    return freq_agency

In [126]:
tree_data=data_tree(cluster_transactions)

In [127]:
tree_data.head()

,index,Account_No,agency,freq_by_agency,withd_by_agency
0,0,A,Agadir Hay Dakhla Extension,1,2000.0
1,1,B,Berkane Ouartass,1,5000.0
2,2,B,Berkane Route Saidia,1,2000.0

In [85]:
# tree={"name": "salariés1", "children": []}

In [123]:
# # move out account_no and agency from indexes
# tree_data.reset_index(inplace=True, drop=False)
# tree_data.reset_index(inplace=True, drop=False)

In [128]:
tree_data

,index,Account_No,agency,freq_by_agency,withd_by_agency
0,0,A,Agadir Hay Dakhla Extension,1,2000.0
1,1,B,Berkane Ouartass,1,5000.0
2,2,B,Berkane Route Saidia,1,2000.0

In [56]:
# freq_agency.reset_index(inplace=True, drop=False)

In [59]:
# accounts=list(freq_agency["Account_No"].unique())

In [61]:
# tree["children"].append({"name":accounts[0], "children":[]})

In [113]:
# tree["children"]

In [115]:
# tree
# tree["children"][0]["children"]
# data_per_account

In [112]:
# tree={"name": "salariés1", "children": []}
# tree["children"].append({"name":"409000362497'", "children":[]})
# data_per_account=freq_agency[freq_agency["Account_No"]=="409000362497'"]
# data_per_account.reset_index(drop=True, inplace=True)
# data_per_account
# for i in range(len(data_per_account)):
#     freq=freq_agency["freq_by_agency"][i]
#     amount=freq_agency["withd_by_agency"][i]
#     agency=freq_agency["agency"][i]
#     tree["children"][0]["children"].append({"name":agency,"size_agency":freq,"children":[{"name":amount,"size1":amount}]})
# tree

In [160]:
#these are the children of salariés 1
def tree_json(tree_data,salaried_name,size_amount):
    tree={"name": salaried_name, "children": []}
    accounts=list(tree_data["Account_No"].unique())
    for index, acc in enumerate(accounts):
        tree["children"].append({"name":acc, "children":[]})
        data_per_account=tree_data[tree_data["Account_No"]==acc]
        data_per_account.reset_index(drop=True, inplace=True)
        for i in range(len(data_per_account)):
            freq=data_per_account["freq_by_agency"][i]
            amount=data_per_account["withd_by_agency"][i]
            agency=data_per_account["agency"][i]
            tree["children"][index]["children"].append({"name":agency,"size_agency":freq,"children":[{"name":amount,size_amount:amount}]})
    return tree

In [135]:
salaried2=tree_json(tree_data,"salariés2")

In [133]:
tree_data

,index,Account_No,agency,freq_by_agency,withd_by_agency
0,0,A,Agadir Hay Dakhla Extension,1,2000.0
1,1,B,Berkane Ouartass,1,5000.0
2,2,B,Berkane Route Saidia,1,2000.0

In [134]:
# #these are the children of salariés 2
# tree2={"name": "salariés2", "children": []}
# for index, acc in enumerate(accounts):
#     tree2["children"].append({"name":acc, "children":[]})
#     data_per_account=freq_agency[freq_agency["Account_No"]==acc]
#     data_per_account.reset_index(drop=True, inplace=True)
#     for i in range(len(data_per_account)):
#         freq=data_per_account["freq_by_agency"][i]
#         amount=data_per_account["withd_by_agency"][i]
#         agency=data_per_account["agency"][i]
#         tree2["children"][index]["children"].append({"name":agency,"size_agency":freq,"children":[{"name":amount,"size1":amount}]})

In [174]:
cluster_transactions=data_by_cluster(data,cash_out,profiles[1])
tree_data=data_tree(cluster_transactions)
salaried2=tree_json(tree_data,"salariés2","size0")
# np.max(tree_data["withd_by_agency"])
# np.min(tree_data["withd_by_agency"])

In [175]:
cluster_transactions=data_by_cluster(data,cash_out,profiles[0])
tree_data=data_tree(cluster_transactions)
salaried1=tree_json(tree_data,"salariés1","size1")

In [159]:
# salaried1
# tree_data

In [176]:
all_the_tree={"name":"tous","children":[salaried1,salaried2]}

In [177]:
all_the_tree

{'name': 'tous',
 'children': [{'name': 'salariés1',
   'children': [{'name': "1196428'",
     'children': [{'name': 'Mohammedia Anfa',
       'size_agency': 13,
       'children': [{'name': 22780804.0, 'size1': 22780804.0}]},
      {'name': 'Mohammedia Avenue Des Far',
       'size_agency': 12,
       'children': [{'name': 12299610.7, 'size1': 12299610.7}]},
      {'name': 'Mohammedia Derb Marrakech',
       'size_agency': 16,
       'children': [{'name': 31925207.0, 'size1': 31925207.0}]},
      {'name': 'Mohammedia El Alia',
       'size_agency': 17,
       'children': [{'name': 27551018.0, 'size1': 27551018.0}]},
      {'name': 'Mohammedia El Oufa',
       'size_agency': 9,
       'children': [{'name': 14276121.0, 'size1': 14276121.0}]},
      {'name': 'Mohammedia Hay Al Houria',
       'size_agency': 11,
       'children': [{'name': 58150198.0, 'size1': 58150198.0}]},
      {'name': 'Mohammedia Marjane',
       'size_agency': 19,
       'children': [{'name': 4840609.0, 'size1': 4840609.0}]},
      {'name': 'Mohammedia Moukaouama',
       'size_agency': 11,
       'children': [{'name': 38697818.0, 'size1': 38697818.0}]},
      {'name': 'Mohammedia Moukawama Expansion',
       'size_agency': 8,
       'children': [{'name': 6578569.0, 'size1': 6578569.0}]},
      {'name': 'MohammediaMohammedia Al Falah',
       'size_agency': 13,
       'children': [{'name': 27577156.8, 'size1': 27577156.8}]}]},
    {'name': "1196711'",
     'children': [{'name': 'Mohammedia Avenue Des Far',
       'size_agency': 1,
       'children': [{'name': 3613279.0, 'size1': 3613279.0}]},
      {'name': 'Mohammedia Hay Al Houria',
       'size_agency': 1,
       'children': [{'name': 50937571.0, 'size1': 50937571.0}]},
      {'name': 'Mohammedia Marjane',
       'size_agency': 1,
       'children': [{'name': 136712.4, 'size1': 136712.4}]},
      {'name': 'Mohammedia Moukaouama',
       'size_agency': 1,
       'children': [{'name': 2700000.0, 'size1': 2700000.0}]}]},
    {'name': "409000362497'",
     'children': [{'name': 'Berkane Mohamed V',
       'size_agency': 29,
       'children': [{'name': 52753627.3, 'size1': 52753627.3}]},
      {'name': 'Berkane Ouartass',
       'size_agency': 16,
       'children': [{'name': 49568292.1, 'size1': 49568292.1}]},
      {'name': 'Berkane Route Saidia',
       'size_agency': 16,
       'children': [{'name': 28396553.1, 'size1': 28396553.1}]},
      {'name': 'Berkane Sidi Slimane',
       'size_agency': 22,
       'children': [{'name': 46827121.2, 'size1': 46827121.2}]}]},
    {'name': "409000438611'",
     'children': [{'name': 'Berkane Mohamed V',
       'size_agency': 3,
       'children': [{'name': 15731299.1, 'size1': 15731299.1}]},
      {'name': 'Berkane Ouartass',
       'size_agency': 1,
       'children': [{'name': 3700000.0, 'size1': 3700000.0}]},
      {'name': 'Berkane Route Saidia',
       'size_agency': 3,
       'children': [{'name': 3055411.0, 'size1': 3055411.0}]}]},
    {'name': "409000438620'",
     'children': [{'name': 'Berkane Mohamed V',
       'size_agency': 11,
       'children': [{'name': 67482269.3, 'size1': 67482269.3}]},
      {'name': 'Berkane Ouartass',
       'size_agency': 11,
       'children': [{'name': 129438293.0, 'size1': 129438293.0}]},
      {'name': 'Berkane Route Saidia',
       'size_agency': 17,
       'children': [{'name': 63432037.7, 'size1': 63432037.7}]},
      {'name': 'Berkane Sidi Slimane',
       'size_agency': 12,
       'children': [{'name': 40092768.6, 'size1': 40092768.6}]}]},
    {'name': "409000493201'",
     'children': [{'name': 'Casa Ain Chock',
       'size_agency': 1,
       'children': [{'name': 91827.3, 'size1': 91827.3}]},
      {'name': 'Casa Ain Sebaa',
       'size_agency': 1,
       'children': [{'name': 100015.4, 'size1': 100015.4}]},
      {'name': 'Casa Ain Sebaa Al Hamd',
       'size_agency': 1,
       'children': [{'name': 171840.3, 'size1': 171840.3}]}]},
    {'name': "409000493210'",
     'children': [{'name': 'Casa Ain Sebaa Al Hamd',
       'size_agency': 1,
       'children': [{'name': 15000000.0, 'size1': 15000000.0}]}]},
    {'name': "409000611074'",
     'children': [{'name': 'Berkane Mohamed V',
       'size_agency': 1,
       'children': [{'name': 70300.0, 'size1': 70300.0}]},
      {'name': 'Berkane Ouartass',
       'size_agency': 2,
       'children': [{'name': 988553.0, 'size1': 988553.0}]},
      {'name': 'Berkane Route Saidia',
       'size_agency': 3,
       'children': [{'name': 896128.0, 'size1': 896128.0}]}]}]},
  {'name': 'salariés2',
   'children': [{'name': 'A',
     'children': [{'name': 'Agadir Hay Dakhla Extension',
       'size_agency': 1,
       'children': [{'name': 2000.0, 'size0': 2000.0}]}]},
    {'name': 'B',
     'children': [{'name': 'Berkane Ouartass',
       'size_agency': 1,
       'children': [{'name': 5000.0, 'size0': 5000.0}]},
      {'name': 'Berkane Route Saidia',
       'size_agency': 1,
       'children': [{'name': 2000.0, 'size0': 2000.0}]}]}]}]}

In [172]:
# import json
# with open('tree.json', 'w') as f:
#     json.dump(all_the_tree, f)
# all_the_tree